@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --LightGray: hsl(212, 45%, 89%);
  --GrayishBlue: hsl(219, 15%, 55%);
  --DarkBlue: hsl(218, 44%, 22%);
  --Outfit: "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--Outfit);
}

body {
  background-color: var(--LightGray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cardQR {
  border-radius: 1rem;
  width: 20rem;
  padding: 1rem;
  background-color: var(--White);
  display: grid;
  justify-items: center;
  align-items: center;
}

.imgQR img {
  max-width: 100%;
  border-radius: 0.5rem;
  align-self: center;
  justify-self: center;
}

.text {
  font-size: 0.9375rem;
  margin: 1rem;
  display: grid;
  text-align: center;
  gap: 0.5rem;
}

.title {
  font-weight: 700;
  color: var(--DarkBlue);
}

.desc {
  color: var(--GrayishBlue);
  font-weight: 400;
}
